In [14]:
#import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from urllib.parse import quote_plus
from sqlalchemy import create_engine, event,text
%matplotlib inline
print(sns.get_dataset_names())
sns.set_theme() #Apply the default theme

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [15]:
f = open ('database_information.json', "r")
qq = json.loads(f.read())
f.close()
ini_cnt_str ='Driver={driver_str};Server=tcp:hkazdevsqld3vnreserch.database.windows.net,1433;database={database};Uid={username};Pwd={password};Encrypt=yes;Authentication=ActiveDirectoryPassword;Connection Timeout=30;'.format(**qq)
quoted = quote_plus(ini_cnt_str)
cnt_str = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(cnt_str)

#Test Connection
try:
    conn = engine.connect()
    result = conn.execute(text("SELECT 1"))
    print("CONNECTION SUCESSFUL!")
except Exception as e:
    print("CONNECTION FAILED:",str(e))

CONNECTION SUCESSFUL!

In [16]:
dim_table_name = "Main_Sector_Project"
fact_table_name = "Office"
fact = pd.read_sql(f"select * from dw.{fact_table_name}",engine)
dim = pd.read_sql(f"select * from dw.{dim_table_name}",engine)

In [17]:
fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21263 entries, 0 to 21262
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Surrogate_ID          21263 non-null  int64
 1   Date_Key              21263 non-null  int64
 2   Project_key           21263 non-null  int64
 3   Form                  21263 non-null  object
 4   Project_Status        21263 non-null  object
 5   Payment_Term          216 non-null    object
 6   Construction_Status   636 non-null    object
 7   Agent_Name            399 non-null    object
 8   Gross_Office_Area     11954 non-null  object
 9   Efficiency            7434 non-null   object
 10  NLA                   16797 non-null  float64
 11  Leased_Area_End_Of_Q  16061 non-null  float64
 12  Vacant_Area           4226 non-null   float64
 13  Avg_Net_Rent          148 non-null    float64
 14  Avg_Gross_Rent        16193 non-null  float64
 15  Service_Charge        3224 non-null   object
 16  New_Supply            709 non-null    float64
dtypes: float64(6), int64(3), object(8)
memory usage: 2.8+ MB

In [24]:
dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10691 entries, 0 to 10690
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Project_Key            10691 non-null  int64
 1   Sector                 10691 non-null  object
 2   Project_Name           10689 non-null  object
 3   Sub_Project_Name       10690 non-null  object
 4   Latitude               9653 non-null   float64
 5   Longtitude             9653 non-null   float64
 6   Project_Grade          5737 non-null   object
 7   Project_Type           8688 non-null   object
 8   Current_Status         10691 non-null  object
 9   Project_Phase          145 non-null    float64
 10  Project_City_Name      10691 non-null  object
 11  Project_District_Name  10691 non-null  object
 12  District_Type          5696 non-null   object
 13  Developer              9481 non-null   object
 14  Developer_Complex      0 non-null      object
 15  Developer_Nationality  897 non-null    object
 16  Operator               1576 non-null   object
 17  Constructor            185 non-null    object
 18  Constructor_Status     1627 non-null   object
 19  Launch_Quarter         4869 non-null   float64
 20  Launch_Year            8402 non-null   object
 21  Complete_Quarter       1676 non-null   float64
 22  Complete_Year          2880 non-null   object
 23  Sold_Out_Quarter       1086 non-null   float64
 24  Sold_Out_Year          1303 non-null   object
 25  Number_Of_Floors       42 non-null     float64
 26  Date_Key               10691 non-null  object
 27  File_Date              10691 non-null  object
 28  Import_Date            10691 non-null  object
 29  Brand                  22 non-null     object
dtypes: float64(7), int64(1), object(22)
memory usage: 2.4+ MB

In [25]:
# Thực hiện truy vấn SQL bằng Pandas
df = pd.merge(fact[fact['Date_Key']=='20191231'], dim[dim['Sector'] == 'Office'], left_on='Project_key', right_on='Project_Key', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Surrogate_ID           0 non-null      int64
 1   Date_Key_x             0 non-null      int64
 2   Project_key            0 non-null      int64
 3   Form                   0 non-null      object
 4   Project_Status         0 non-null      object
 5   Payment_Term           0 non-null      object
 6   Construction_Status    0 non-null      object
 7   Agent_Name             0 non-null      object
 8   Gross_Office_Area      0 non-null      object
 9   Efficiency             0 non-null      object
 10  NLA                    0 non-null      float64
 11  Leased_Area_End_Of_Q   0 non-null      float64
 12  Vacant_Area            0 non-null      float64
 13  Avg_Net_Rent           0 non-null      float64
 14  Avg_Gross_Rent         0 non-null      float64
 15  Service_Charge         0 non-null      object
 16  New_Supply             0 non-null      float64
 17  Project_Key            0 non-null      int64
 18  Sector                 0 non-null      object
 19  Project_Name           0 non-null      object
 20  Sub_Project_Name       0 non-null      object
 21  Latitude               0 non-null      float64
 22  Longtitude             0 non-null      float64
 23  Project_Grade          0 non-null      object
 24  Project_Type           0 non-null      object
 25  Current_Status         0 non-null      object
 26  Project_Phase          0 non-null      float64
 27  Project_City_Name      0 non-null      object
 28  Project_District_Name  0 non-null      object
 29  District_Type          0 non-null      object
 30  Developer              0 non-null      object
 31  Developer_Complex      0 non-null      object
 32  Developer_Nationality  0 non-null      object
 33  Operator               0 non-null      object
 34  Constructor            0 non-null      object
 35  Constructor_Status     0 non-null      object
 36  Launch_Quarter         0 non-null      float64
 37  Launch_Year            0 non-null      object
 38  Complete_Quarter       0 non-null      float64
 39  Complete_Year          0 non-null      object
 40  Sold_Out_Quarter       0 non-null      float64
 41  Sold_Out_Year          0 non-null      object
 42  Number_Of_Floors       0 non-null      float64
 43  Date_Key_y             0 non-null      object
 44  File_Date              0 non-null      object
 45  Import_Date            0 non-null      object
 46  Brand                  0 non-null      object
dtypes: float64(13), int64(4), object(30)
memory usage: 0.0+ bytes

In [27]:
df

Empty DataFrame
Columns: [Surrogate_ID, Date_Key_x, Project_key, Form, Project_Status, Payment_Term, Construction_Status, Agent_Name, Gross_Office_Area, Efficiency, NLA, Leased_Area_End_Of_Q, Vacant_Area, Avg_Net_Rent, Avg_Gross_Rent, Service_Charge, New_Supply, Project_Key, Sector, Project_Name, Sub_Project_Name, Latitude, Longtitude, Project_Grade, Project_Type, Current_Status, Project_Phase, Project_City_Name, Project_District_Name, District_Type, Developer, Developer_Complex, Developer_Nationality, Operator, Constructor, Constructor_Status, Launch_Quarter, Launch_Year, Complete_Quarter, Complete_Year, Sold_Out_Quarter, Sold_Out_Year, Number_Of_Floors, Date_Key_y, File_Date, Import_Date, Brand]
Index: []

[0 rows x 47 columns]