In [1]:
import datetime
import pandas as pd
import numpy as np
import pyodbc
import json
from urllib.parse import quote_plus
from sqlalchemy import create_engine, event,text

In [2]:
import json
f = open ('database_information.json', "r")
qq = json.loads(f.read())
f.close()
ini_cnt_str ='Driver={driver_str};Server=tcp:hkazdevsqld3vnreserch.database.windows.net,1433;database={database};Uid={username};Pwd={password};Encrypt=yes;Authentication=ActiveDirectoryPassword;Connection Timeout=30;'.format(**qq)
quoted = quote_plus(ini_cnt_str)
cnt_str = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(cnt_str)

#Test Connection
try:
    conn = engine.connect()
    result = conn.execute(text("SELECT 1"))
    print("CONNECTION SUCESSFUL!")
except Exception as e:
    print("CONNECTION FAILED:",str(e))

CONNECTION SUCESSFUL!

In [3]:
data = pd.read_excel(r'doc\IP_Changelog_CleanIP.xlsx', sheet_name="Need_Update")
data

,Project_Key,Project_Name,Sub_Project_Name,Latitude,Longtitude,Developer_Name,Project_Type,District,City,Flag,Update_column,Merge_key,Update_project_name,Update_sub_project_name,Update_latitude,Update_longtitude,update_district,update_developer,Note
0,5057,Hoang Mai I,Gaw Np Capital Rbf,NaN,NaN,NaN,NaN,NaN,NaN,update,developer,NaN,NaN,NaN,NaN,NaN,NaN,Gaw NP Industrial,NaN
1,5257,Gnp,Gnp Rbw,NaN,NaN,NaN,NaN,NaN,NaN,update,developer,NaN,NaN,NaN,NaN,NaN,NaN,Gaw NP Industrial,NaN
2,5244,Gnp,Gnp Rbf,NaN,NaN,NaN,NaN,NaN,NaN,update,developer,NaN,NaN,NaN,NaN,NaN,NaN,Gaw NP Industrial,NaN
3,4522,Yen Binh,Gnp Yen Binh 1 Rbf,NaN,NaN,NaN,NaN,NaN,NaN,update,developer,NaN,NaN,NaN,NaN,NaN,NaN,Gaw NP Industrial,NaN
4,4533,Yen Binh,Gnp Yen Binh 2 Rbf,NaN,NaN,NaN,NaN,NaN,NaN,update,developer,NaN,NaN,NaN,NaN,NaN,NaN,Gaw NP Industrial,NaN
5,4665,Nam Dinh Vu,Gaw Np Rbw Sd,NaN,NaN,NaN,NaN,NaN,NaN,update,developer,NaN,NaN,NaN,NaN,NaN,NaN,Gaw NP Industrial,NaN

In [4]:
today=pd.to_datetime('today')
data['Import_Date']=today

In [5]:
try:
    data.to_sql('IP_Project_Manual_Update_P2', engine, index=False, if_exists='append', schema='DW')
except Exception as e:
    print("ERROR:",str(e))